*{
  background-color: black;
  color: rgb(190, 255, 70);
}
img {width: 100%;

  border: 5px solid rgb(190, 255, 70);

}
#text{
  width: 50%;
  margin-left: 25%;
 font-family: Libre Baskerville, serif;

  text-align: center;
  margin-top: 100px;
}
h1{font-size: 3rem;}